{% extends 'base.html' %}

{% block title %}Administrador{% endblock %}

{% block content %}

<header class="hero-admin">

    <div class="contenedor">

        <div class="contenedor__hero">
            <div class="contenedor-logo">
                <img class="logo" src="./static/images/logo.svg" alt="logo">
            </div>

        </div>

        <div class="text-contenedor">

            <div class="text__hero">
                <h1>"Tu negocio, tu control"</h1>                    
                
            </div>

        </div>
        
    </div>
   
</header>



{% endblock %}